<div class="row" id="comment-<%= comment.id %>">
  <div class="col-md-2 col-sm-2 hidden-xs">
    <figure class="thumbnail">
      <figcaption class="text-center"><%= comment.title %></figcaption>
    </figure>
  </div>
  <div class="col-md-10 col-sm-10">
    <div class="panel panel-default arrow left">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-10 col-sm-10">
            <header class="text-left">
              <div class="comment-user"><i class="fa fa-user"></i> <%= comment.comment %></div>
            </header>
          </div>
          <div class="col-md-2 col-sm-2">
          </div>
        </div>

        <div class="comment-post">

        </div>
        <!--<p class="text-right">-->
        <!--<a href="#" class="btn btn-default btn-sm"><i class="fa fa-check"></i>채택하기</a>-->
        <!--</p>-->
      </div>
    </div>
  </div>
</div>
